body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.full-screen {
  width: 100vw; /* 100% of viewport width */
  height: 100vh; /* 100% of viewport height */
}

.dark {
  background-color: #000000;
  color: white
}

.light {
  background-color: white;
  color: black
}

.dark-container {
  background-color: #474b5b;
  color: #ffffff;
  box-shadow: 2px 4px 2px #22c05a; /* Adjust the values as needed */
}

.light-container {
  color: #000000;
  background-color: #e2e7f0;
  box-shadow: 2px 4px 2px #cf5f1e; /* Adjust the values as needed */
}

.dark-divider {
  border-bottom: 1px solid #22c05a
}
.light-divider {
  border-bottom: 1px solid #cf5f1e
}
.no-border{
  border: 0px
}
.flex {
  display: flex;
}

.dark-color{
  background-color: #22c05a;
}


.light-color{
  background-color: #cf5f1e;
}